.spinner {
    width: 50px;
    height: 50px;
    border: 6px solid rgba(255, 255, 255, 0.2);
    border-top-color: #38bdf8;
    border-radius: 50%;
    animation: spin 1s linear infinite;
    position: absolute;
    left: 47%;
    top: 45%;
}

.hide {
    display: none;
}

.show {
    display: block;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}